* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.mp3 binary
*.mp4 binary
*.png binary
*.wav binary
*.webm binary

